<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAsVDTSolth0yMDpCfBpnr-ztF6I332ZSI</string>
	<key>GCM_SENDER_ID</key>
	<string>333274558089</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>skillr.io</string>
	<key>PROJECT_ID</key>
	<string>skillr-io</string>
	<key>STORAGE_BUCKET</key>
	<string>skillr-io.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:333274558089:ios:fe490522693144c5f1a058</string>
	<key>DATABASE_URL</key>
	<string>https://skillr-io-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>